/**
* @name OneHalfCord
* @author rolledev
* @version 1.0
* @description A Discord theme based on the Vim theme, One Half.
* @source https://github.com/rolledev/onehalfcord
* @updateUrl https://raw.githubusercontent.com/rolledev/onehalfcord/master/OneHalfCord.theme.css
*/

@import url("https://rolledev.github.io/onehalfcord/theme.css");

/* DO NOT TOUCH */

.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d,
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
    height: 120px;
    background: var(--background-floating) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
    top: 76px;
}
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
    height: 240px;
}