.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #DCDFE4;
    --text-muted: #6e7072;
    --text-link: hsl(207,calc(var(--saturation-factor, 1)*83%),66%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #282C34;
    --background-secondary: #20232a;
    --background-secondary-alt: #1c1f24;
    --background-tertiary: #181a1f;
    --background-accent: #101215;
    --background-floating: #181a1f;
    --background-mobile-primary: #282C34;
    --background-mobile-secondary: #20232a;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #282C34;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --channels-default: #8e9297;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #262931;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #282C34;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #282C34;
}
.theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #2e3338;
    --text-muted: #383A42;
    --text-link: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
    --text-link-low-saturation: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #060607;
    --interactive-muted: #c7ccd1;
    --background-primary: #FAFAFA;
    --background-secondary: #EAEAEA;
    --background-secondary-alt: #DADADA;
    --background-tertiary: #e3e5e8;
    --background-accent: #747f8d;
    --background-floating: #fff;
    --background-mobile-primary: #f8f9f9;
    --background-mobile-secondary: #fff;
    --background-modifier-hover: rgba(116,127,141,0.08);
    --background-modifier-active: rgba(116,127,141,0.16);
    --background-modifier-selected: rgba(116,127,141,0.24);
    --background-modifier-accent: rgba(6,6,7,0.08);
    --info-positive-text: #000;
    --info-warning-text: #000;
    --info-danger-text: #000;
    --info-help-background: hsla(212,calc(var(--saturation-factor, 1)*100%),43.9%,0.1);
    --info-help-foreground: hsl(212,calc(var(--saturation-factor, 1)*100%),43.9%);
    --info-help-text: #000;
    --status-warning-text: #fff;
    --scrollbar-thin-thumb: rgba(79,84,92,0.3);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ccc;
    --scrollbar-auto-track: #f2f2f2;
    --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
    --scrollbar-auto-scrollbar-color-track: #f2f3f5;
    --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    --logo-primary: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.2);
    --background-message-hover: rgba(6,6,7,0.02);
    --channels-default: #6a7480;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: #ebedef;
    --activity-card-background: #fff;
    --textbox-markdown-syntax: #6a7480;
    --deprecated-card-bg: #f8f9f9;
    --deprecated-card-editable-bg: rgba(246,246,247,0.6);
    --deprecated-store-bg: #f8f9f9;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
    --deprecated-text-input-bg: rgba(79,84,92,0.02);
    --deprecated-text-input-border: rgba(79,84,92,0.3);
    --deprecated-text-input-border-hover: #b9bbbe;
    --deprecated-text-input-border-disabled: #dcddde;
    --deprecated-text-input-prefix: #b9bbbe;
}
html {
    --brand-experiment-100: hsl(240,calc(var(--saturation-factor, 1)*77.8%),98.2%);
    --brand-experiment-130: hsl(236,calc(var(--saturation-factor, 1)*87.5%),96.9%);
    --brand-experiment-160: hsl(235,calc(var(--saturation-factor, 1)*84.6%),94.9%);
    --brand-experiment-200: hsl(236,calc(var(--saturation-factor, 1)*83.3%),92.9%);
    --brand-experiment-230: hsl(236,calc(var(--saturation-factor, 1)*87%),91%);
    --brand-experiment-260: hsl(235,calc(var(--saturation-factor, 1)*86.2%),88.6%);
    --brand-experiment-300: hsl(235,calc(var(--saturation-factor, 1)*86.1%),85.9%);
    --brand-experiment-330: hsl(235,calc(var(--saturation-factor, 1)*85.1%),81.6%);
    --brand-experiment-360: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --brand-experiment-400: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
    --brand-experiment-430: hsl(235,calc(var(--saturation-factor, 1)*85.7%),69.8%);
    --brand-experiment-460: hsl(235,calc(var(--saturation-factor, 1)*85.5%),67.5%);
    --brand-experiment: hsl(207,calc(var(--saturation-factor, 1)*83%),66%);
    --brand-experiment-500: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --brand-experiment-530: hsl(235,calc(var(--saturation-factor, 1)*66.7%),58.8%);
    --brand-experiment-560: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --brand-experiment-600: hsl(235,calc(var(--saturation-factor, 1)*46.7%),44.1%);
    --brand-experiment-630: hsl(235,calc(var(--saturation-factor, 1)*46.7%),38.2%);
    --brand-experiment-660: hsl(235,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --brand-experiment-700: hsl(235,calc(var(--saturation-factor, 1)*47%),25.9%);
    --brand-experiment-730: hsl(235,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --brand-experiment-760: hsl(234,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --brand-experiment-800: hsl(235,calc(var(--saturation-factor, 1)*47.5%),19.4%);
    --brand-experiment-830: hsl(235,calc(var(--saturation-factor, 1)*47.4%),14.9%);
    --brand-experiment-860: hsl(235,calc(var(--saturation-factor, 1)*46.9%),9.6%);
    --brand-experiment-900: hsl(233,calc(var(--saturation-factor, 1)*50%),3.1%);
    --brand-experiment-05a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.05);
    --brand-experiment-10a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.1);
    --brand-experiment-15a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.15);
    --brand-experiment-20a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.2);
    --brand-experiment-25a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.25);
    --brand-experiment-30a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
    --brand-experiment-35a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.35);
    --brand-experiment-40a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.4);
    --brand-experiment-45a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.45);
    --brand-experiment-50a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.5);
    --brand-experiment-55a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.55);
    --brand-experiment-60a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.6);
    --brand-experiment-65a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.65);
    --brand-experiment-70a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.7);
    --brand-experiment-75a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.75);
    --brand-experiment-80a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.8);
    --brand-experiment-85a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.85);
    --brand-experiment-90a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.9);
    --brand-experiment-95a: hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.95);
}

.nameTag-3uD-yy {
    display: none;
}
.container-3baos1 {
     padding-left: 56px;
     padding-right: 56px;
}

.gameActivityToggleAdded-Yd-YxC{
	padding-left: 40px;
	padding-right: 40px;
}

.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}
.theme-dark .perksModal-fSYqOq {
    background-color: var(--background-primary);
}
.headerTop-3vNv-a, .customStatus-oN4ZZY{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .avatarWrapperNormal-26WQIb{
    position: absolute;
    left: 35%;
  }
  .profileBadges-ohc0Vu{
    display: none;
  }
  .theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #fff;
    background-color: var(--background-primary);
}
.theme-dark .circleIconButton-1QV--U.circleButtonBase-2DCxIZ {
    color: #98C379;
    background-color: var(--background-secondary);
}
.circleIconButton-1QV--U.circleButtonBase-2DCxIZ.selected-1JjBPm {
    color: #fff;
    background-color: hsl(95,calc(var(--saturation-factor, 1)*38%),62%);;
}
.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--background-primary);
    color: #fff;
}
.theme-dark .root-1gCeng {
    background-color: var(--background-primary);
}
.theme-dark .modal-yWgWj- {
    background-color: var(--background-primary);
}
.guildSection-1EoFKd > .flex-1xMQg5 > svg {
    flex-shrink: 0;
}
.role-2irmRk{
    background: transparent;
    border: 1px solid;
    border-radius: 11px;
  }
  .roleCircle-3xAZ1j {
    margin-left: 0;
  }
  .addButton-pcyyf6.role-2irmRk {
      border-color: #4f545c;
  }
  .addButtonIcon-1NMJ8u {
      width: 10px;
      height: 10px;
  }
:root {
    --font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}
.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: hsl(355,calc(var(--saturation-factor, 1)*65%),65%);
}
.colorDanger-2qLCe1 .focused-3afm-j {
    color: #fff;
    background-color: #E06C75;
}
.theme-dark .container-3ayLPN {
    background-color: var(--background-primary);
}
.theme-dark .option-96V44q::after {
    background: none;
}
:root {
    --sidebar-width: 240px; /* change if your theme resizes the sidebar */
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
    width: unset;
    flex: 1 1 auto;
}
.clamped-IwJfxR {
    -webkit-line-clamp: unset;
}
.tipTitle-GL9qAt{content:"";font-size: 0px;}
.tipTitle-GL9qAt::before{content:"Did you know?";font-size: 12px;}
.tip-2cgoli{content:"";font-size: 0px;}
.tip-2cgoli::before{content: "Message Loggers are prohibited. If you have the Message Logger plugin installed, please uninstall it.";font-size: 16px;}
.problems-3mgf6w.slideIn-sCvzGz{display:none;}
.container-16j22k.fixClipping-3qAKRb{background: var(--background-tertiary);}
ul[data-list-id="guildsnav"] > div[class^="scroller"] {
    padding-top: 0 !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    box-shadow: var(--elevation-low);
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child + div {
    display: none; /* separator */
}

div[href="/channels/@me"]:not(:hover) > div {
    background-color: transparent !important;
}
.aboutMeBody-3GuvKk{
    display: inline;
}
.accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf {
    --no-phone-number-text: 'Hehe, you can\'t see my phone number!';
    color: transparent;
  }
  .accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf::before {
    color: var(--header-primary);
    content: var(--no-phone-number-text, '************');
  }
  .accountProfileCard-1XCH88 .field-1HUseB:last-child .size16-1P40sf > .lookLink-9FtZy- {
    transform: translateX(-88px);
  }
  .side-8zPYf6>div {
    order: 0;
  }
  
  .item-PXvHYJ[data-item-id="theme-toggler"] {
    order: 1 !important;
  }
  
  .side-8zPYf6>div:nth-child(n+33) { /* Change number after n to 14+[number of settings above Powercord] */
    order: 2;
  }
  [d="M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z"]{
    fill:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  }
  .platform-win .maximized [aria-label="Maximize"] {
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.platform-win .maximized [aria-label="Maximize"]:before {
    content: " ";
    -webkit-mask: url('https://kckarnige.is-a.dev/improved-ui/res/restore.svg');
    background-repeat: no-repeat;
    position: fixed;
    color: var(--interactive-normal);
    background-color: currentColor;
    height: 12px;
    width: 12px;
}
.privateChannels-1nO12o .content-3YMskv { --columns: 4; display: grid; grid-template-columns: repeat(var(--columns), 1fr); grid-auto-rows: min-content; }
.privateChannels-1nO12o .content-3YMskv > * { grid-column: 1/-1; }
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) { grid-column: auto; }
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .content-3QAtGj { display: none; }
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .avatar-3uk_u9 { width: 100%; margin: 0 !important; }
.privateChannels-1nO12o .content-3YMskv .channel-2QD9_O:not([aria-label]) .layout-2DM8Md .children-gzQq2t { z-index: 1; margin: 0 !important; }

.iconWrapper-2OrFZ1 path[d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"]{
    d: path("M 12 2 C 6.486 2 2 6.486 2 12 C 2 17.515 6.486 22 12 22 C 14.039 22 15.993 21.398 17.652 20.259 L 16.521 18.611 C 15.195 19.519 13.633 20 12 20 C 7.589 20 4 16.411 4 12 C 4 7.589 7.589 4 12 4 C 16.411 4 20 7.589 20 12 V 12.782 C 20 14.17 19.402 15 18.4 15 L 18.398 15.018 C 18.338 15.005 18.273 15 18.209 15 H 18 C 17.437 15 16.6 14.182 16.6 13.631 V 12 C 16.6 9.464 14.537 7.4 12 7.4 C 9.463 7.4 7.4 9.463 7.4 12 C 7.4 14.537 9.463 16.6 12 16.6 C 13.234 16.6 14.35 16.106 15.177 15.313 C 15.826 16.269 16.93 17 18 17 L 18.002 16.981 C 18.064 16.994 18.129 17 18.195 17 H 18.4 C 20.552 17 22 15.306 22 12.782 V 12 C 22 6.486 17.514 2 12 2 Z M 12 14.599 C 10.566 14.599 9.4 13.433 9.4 11.999 C 9.4 10.565 10.566 9.399 12 9.399 C 13.434 9.399 14.6 10.565 14.6 11.999 C 14.6 13.433 13.434 14.599 12 14.599 Z");
  }

  .wordmarkWindows-1v0lYD svg{
    width:0;
  }

  .wordmarkWindows-1v0lYD::after{
    content:'onehalf';
    position:absolute;
    width:max-content;
    font-weight:750;
    font-size:14px;
    color:white;
  }

  .childWrapper-anI2G9 {
    background-color: #00000000;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #00000000;
}

